.ordering__element-image {
  width: 3.4rem;
  height: 3.4rem;
  margin: auto;
  text-align: center;
}

@media (max-width:1024px) {
  .ordering__element-image {
    width: 2.5rem;
    height: 2.5rem;
  }
}
