.button {
  text-transform: uppercase;
  border-radius: 0.4rem;
  margin: auto;
  width: 11.4rem;
  height: 2.6rem;
  font-size: 0.8rem;
  line-height: 0.9rem;
  background-color: $color-white;
  border: 1px solid $color-gray;

  &:hover {
    cursor: pointer;
    border: 1px solid $color-blue;
  }
}

@media (max-width:1024px) {
  .button {
    height: 2rem;
  }
}

@media (max-width:480px) {
  .button {
    width: 17rem;
    margin-bottom: 1rem;

    &:first-child {
      margin-right: auto;
    }
  }
}
