.button {
  text-transform: uppercase;
  border-radius: 0.4rem;
  margin: auto;
  width: 11.4rem;
  height: 2.6rem;
  font-size: $font-size--button;
  line-height: 0.9rem;
  background-color: $color-white;
  border: 1px solid $color-gray;

  &:hover {
    cursor: pointer;
    border: 1px solid $color-blue;
  }

  @media (max-width:$screen-lg) {
    height: 2rem;
  }

  @media (max-width:$screen-sm) {
    width: 17rem;
    margin-bottom: 1rem;

    &:first-child {
      margin-right: auto;
    }
  }
}
