.button__form-submit {
  margin-top: 2.5rem;
  width: 23.1rem;
  height: 3rem;

  @media (max-width:$screen-lg) {
    width: 19rem;
    height: 2rem;
  }

  @media (max-width:$screen-md) {
    width: 17rem;
  }
}
