.ordering__title {
  text-align: center;
  font-size: $font-size--h2;
  line-height: $line-height--h2;
  margin: 0 auto;

  @media (max-width:$screen-lg) {
    font-size: $font-size--h2-medium;
    line-height: $line-height--h2-medium;
  }

  @media (max-width:$screen-md) {
    max-width: 16rem;
    font-size: $font-size--h2-small;
    line-height: $line-height--h2-small;
  }

}
