.input-drop-down {
  color: $color-main-dark;
  display: flex;
  background-image: url(/src/blocks/input-drop-down/images/drop-down-closed.svg);
  background-position: right 0.8rem top 0.8rem;
  background-repeat: no-repeat;
  outline: none;

  &:hover {
    cursor: pointer;
    border: 1px solid #3E9CDC;
  }

  &::-webkit-input-placeholder {
    color: $color-main-dark;
  }

  &::-moz-placeholder {
    color: $color-main-dark;
  }

}

@media (max-width:1024px) {
  .input-drop-down {
    background-position: right 0.8rem top 0.5rem;
  }
}
