.order__title {
  font-size: $font-size--h1;
  line-height: $line-height--h1;
  margin: 0;

  @media (max-width:$screen-lg) {
    max-width: 35rem;
    line-height: $line-height--h1-medium;
    font-size: $font-size--h1-medium;
  }

  @media (max-width:$screen-md) {
    max-width: 30rem;
    line-height: $line-height--h1-small;
  }

  @media (max-width:$screen-sm) {
    font-size: $font-size--h1-small;
    line-height: 2.1rem;
  }
}
