.form__input-drop-down-elements {
  position: absolute;
  width: 23.1rem;
  background-color: #272733;
  color: #fff;
  z-index: 1;
  overflow-y: auto;
  max-height: 12em;
  border: 1px solid #3D4050;
  visibility: hidden;
  margin-top: 3.6rem;
  margin-left: 0.8rem;

  &::-webkit-scrollbar {
    width: 0.31rem;
  }

  &::-webkit-scrollbar-thumb {
    background: #3E9CDC;
  }
}

@media (max-width:1024px) {
  .form__input-drop-down-elements {
    width: 19.7rem;
    margin-left: 0.8rem;
    font-size: 1rem;
    margin-top: 3rem;
  }
}

@media (max-width:768px) {
  .form__input-drop-down-elements {
    width: 17.2rem;
    margin-left: 0rem;
  }
}

@media (max-width:480px) {
  .form__input-drop-down-elements {
    width: 17.2rem;
  }
}
