.input {
  background-color: $color-gray-input;
  border: 1px solid $color-white;
  border-radius: 3px;
  width: 22.3rem;
  height: 2.75rem;
  font-size: $font-size--input;
  padding-left: 0.6rem;
  margin: 0.8rem;

  &:focus {
    border: 1px solid $color-blue;
  }

  &:active {
    border: 1px solid $color-blue;
  }

  &:hover {
    cursor: pointer;
    border: 1px solid $color-blue;
  }

  &::-webkit-input-placeholder {
    color: $color-main-dark;
  }

  &::-moz-placeholder {
    color: $color-main-dark;
  }

  @media (max-width:$screen-lg) {
      width: 19rem;
      height: 2rem;
      font-size: $font-size--input-medium;
  }

  @media (max-width:$screen-md) {
      width: 16rem;
      height: 2rem;
  }
}
