.ordering__input {
  background: $color-gray-input;
  border: 1px solid $color-white;
  border-radius: 3px;
  width: 22.3rem;
  height: 2.75rem;
  font-size: 1.12rem;
  padding-left: 0.6rem;

  &:focus {
    border: 1px solid $color-blue;
  }

  &:active {
    border: 1px solid $color-blue;
  }

  &:hover {
    cursor: pointer;
    border: 1px solid $color-blue;
  }

  &::-webkit-input-placeholder {
    color: $color-main-dark;
  }

  &::-moz-placeholder {
    color: $color-main-dark;
  }

  &:first-of-type {
    margin-right: 1.8rem;
  }

}
