.header__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #FFFFFF;
  margin: auto 3.75rem 0.2rem 0;

  &:hover {
    color: #43ABF0;
  }

  &:last-child {
    margin-right: 0rem;
  }
}

@media (max-width:1024px) {
  .header__link {
    margin-right: 1.3rem;
    font-size: 0.7rem;
  }
}

@media (max-width:768px) {
  .header__link {
    flex-direction: column;
    margin: auto;

    &:last-child {
      margin-right: auto;
    }
  }
}

@media (max-width:480px) {
  .header__link {
    font-size: 0.6rem;
  }
}
