.ordering__subtitle {
  text-align: center;
  font-size: 1.1rem;
  line-height: 1rem;
  margin: 1.8rem auto 0 auto;
  color: $color-gray;
}

@media (max-width:768px) {
  .ordering__subtitle {
    font-size: 0.9rem;
    line-height: 1rem;
    max-width: 23rem;
  }
}

@media (max-width:480px) {
  .ordering__subtitle {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    max-width: 16rem;
  }
}
