.ordering__subtitle {
  text-align: center;
  font-size: $font-size--subtitle;
  line-height: 1rem;
  margin: 1.8rem auto 0 auto;
  color: $color-gray;

  @media (max-width:$screen-md) {
    font-size: $font-size--subtitle-medium;
    line-height: 1rem;
    max-width: 23rem;
  }

  @media (max-width:$screen-sm) {
    margin-top: 0.5rem;
    max-width: 16rem;
  }
}
