.ordering__element-text {
  text-align: center;
  font-size: $font-size--ordering-element;
  line-height: 1.2rem;
  margin: 1.2rem 0 0;

  @media (max-width:$screen-lg) {
    padding: 0 0.2rem;
    font-size: $font-size--ordering-element-medium;
    line-height: 1rem;
    width: 10rem;
    margin: auto 0;
    padding: 0 0.4rem;
  }
}
