.footer__group-links-container {
  display: flex;
  border-left: 1px solid $color-gray;

  @media (max-width:$screen-lg) {
    margin: auto auto 0.6rem;
    border-left: transparent;
  }

  @media (max-width:$screen-sm) {
    flex-wrap: wrap;
    justify-content: center;
  }
}
