.input-range__container {
  border-radius: 1px;
  width: 47.9rem;
  background-color: transparent;
  border: transparent;
  padding: 0;

  &:focus {
    border: transparent;
  }

  &:active {
    border: transparent;
  }

  &:hover {
    cursor: pointer;
    border: transparent;
  }

  &::-webkit-input-placeholder {
    color: #272733;
  }

  &::-moz-placeholder {
    color: #272733;
  }
}

@media (max-width:1024px) {
  .input-range__container {
    width: 20rem;
  }
}

@media (max-width:768px) {
  .input-range__container {
    width: 16rem;
    height: 4rem;
  }
}
