.input-range__container {
  border-radius: 1px;
  width: 47.9rem;
  background-color: transparent;
  border: transparent;
  padding: 0;

  &:focus {
    border: transparent;
  }

  &:active {
    border: transparent;
  }

  &:hover {
    cursor: pointer;
    border: transparent;
  }

  &::-webkit-input-placeholder {
    color: $color-main-dark;
  }

  &::-moz-placeholder {
    color: $color-main-dark;
  }

  @media (max-width:$screen-lg) {
    width: 20rem;
  }

  @media (max-width:$screen-md) {
    width: 16rem;
    height: 4rem;
  }
}
