.order {
  background: url('/src/blocks/order/main-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  object-fit: cover;
  position: relative;
  top: -6.2rem;
  padding: 12.6rem 0;
  display: flex;
  justify-content: center;

  h2 {
    text-transform: uppercase;
  }

  span {
    color: #3E9CDC;
  }
}

@media (max-width:1280px) {
  .order {
    padding: 10rem 0;
  }
}

@media (max-width:768px) {
  .order {
    padding: 10rem 0 5rem;
  }
}

@media (max-width:480px) {
  .order {
    padding: 7rem 0 2.5rem;
  }
}
