.order {
  background: url('/src/blocks/order/main-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  padding: 12.6rem 0;

  h2 {
    text-transform: uppercase;
  }

  span {
    color: $color-blue;
  }
}

@media (max-width:1280px) {
  .order {
    padding: 10rem 0;
  }
}

@media (max-width:768px) {
  .order {
    padding: 10rem 0 5rem;
  }
}

@media (max-width:480px) {
  .order {
    padding: 10rem 0 2.5rem;
    display: flex;
  }
}
