.link {
  text-decoration: none;
  font-size: 0.8rem;
  color: $color-white;
  margin: auto 3.75rem 0.2rem 0;

  &:hover {
    color: $color-blue;
  }
}

@media (max-width:1024px) {
  .link {
    margin-right: 1.3rem;
    font-size: 0.7rem;
  }
}

@media (max-width:768px) {
  .link {
    margin: auto;
  }
}

@media (max-width:480px) {
  .link {
    font-size: 0.6rem;
  }
}
