.ordering__element {
  width: 14rem;
}

@media (max-width:1280px) {
  .ordering__element {
    width: 11rem;
  }
}

@media (max-width:1024px) {
  .ordering__element {
    display: flex;
    width: 17rem;
    margin-top: 1rem;
  }
}

@media (max-width:480px) {
  .ordering__element {
    width: 15rem;
  }
}
