.ordering__element {
  width: 14rem;

  @media (max-width:$screen-xl) {
    width: 11rem;
  }

  @media (max-width:$screen-lg) {
    display: flex;
    width: 17rem;
    margin-top: 1rem;
  }

  @media (max-width:$screen-sm) {
    width: 15rem;
  }
}
