.ordering__element-bond {
  position: absolute;
  margin: -3.2rem auto auto 10.6rem;
}

@media (max-width:1199px) {
  .ordering__element-bond {
    margin-left: 9.4rem;
    width: 5.5rem;
  }
}

@media (max-width:979px) {
  .ordering__element-bond {
    width: 3.5rem;
    margin-left: 8.3rem;
  }
}

@media (max-width:840px) {
  .ordering__element-bond {
    visibility: hidden;
  }
}
