.form__input-drop-down {
  color: #272733;
  display: flex;
  background-image: url(/src/blocks/form/__input-drop-down/closed.svg);
  background-position: right 0.8rem top 0.8rem;
  background-repeat: no-repeat;
  outline: none;

  &:hover {
    cursor: pointer;
    border: 1px solid #3E9CDC;
  }

  &::-webkit-input-placeholder {
    color: #272733;
  }

  &::-moz-placeholder {
    color: #272733;
  }

}

@media (max-width:480px) {
  .form__input-drop-down {
    background-position: right 0.5rem top 0.5rem;
  }
}
