.order__button-container {
  margin-top: 5rem;
}

@media (max-width:768px) {
  .order__button-container {
    display: flex;
    justify-content: center;
  }
}

@media (max-width:480px) {
  .order__button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

