.form__input-drop-down_dark {
  background-color: #3D4050;
  background-image: url(/src/blocks/form/__input-drop-down/opened.svg);
  color: #ffffff;
  border: 1px solid #3D4050;
  border-radius: 3px;
  width: 22.3rem;
  height: 2.75rem;
  font-size: 1.12rem;
  padding-left: 0.6rem;
  margin: 0.8rem;
}
