.form__input-drop-down_dark {
  background-color: #3D4050;
  background-image: url(/src/blocks/form/__input-drop-down/opened.svg);
  color: #ffffff;
  border: 1px solid #3D4050;
  border-radius: 3px;
  width: 22.3rem;
  height: 2.6rem;
  font-size: 1.12rem;
  padding-left: 0.6rem;
  margin: 0.8rem;
}

@media (max-width:1024px) {
  .form__input-drop-down_dark {
    height: 2rem;
    width: 19rem;
    margin-left: 0.8rem;
    font-size: 1rem;
  }
}

@media (max-width:480px) {
  .form__input-drop-down_dark {
    width: 16.6rem;
    margin-left: 0.8rem;
    font-size: 1rem;
  }
}
