.order__button {
  text-transform: uppercase;
  border-radius: 0.4rem;
  margin: auto;
  width: 11.4rem;
  height: 2.6rem;

  &:first-child {
    margin-right: 1.8rem;
  }
}

@media (max-width:510px) {
  .order__button {
    width: 13rem;
    margin: 0 auto 1rem auto;

    &:first-child {
      margin-right: auto;
    }
  }
}

@media (max-width:480px) {
  .order__button {
    width: 13rem;
    margin-bottom: 1rem;
  }
}
