.ordering {
  color: #ffff;
  background-image: url('/src/blocks/ordering/images/BG.png');
  padding: 7.5rem 0 9.3rem;

  span {
    color: #3E9CDC;
  }
}

@media (max-width:1024px) {
  .ordering {
    padding: 5rem 0 7rem;
  }
}

@media (max-width:480px) {
  .ordering {
    padding: 3rem 0 5rem;
  }
}
