.ordering {
  color: $color-white;
  background-image: url('/src/blocks/ordering/images/BG.png');
  padding: 7.5rem 0 9.3rem;

  span {
    color: $color-blue;
  }

  @media (max-width:$screen-lg) {
    padding: 5rem 0 7rem;
  }

  @media (max-width:$screen-sm) {
    padding: 3rem 0 5rem;
  }
}
