.input-range__text-container {
  display: flex;
  justify-content: space-between;
  font-size: 1.125rem;
  line-height: 1.35rem;

  @media (max-width:$screen-lg) {
      font-size: 0.9rem;
  }

  @media (max-width:$screen-sm) {
      font-size: 0.8rem;
  }
}
