.input-range {
  width: 100%;

  &::-webkit-slider-runnable-track {
    background: $color-white;
    height: 5px;
    border-radius: 25%;
  }

  &::-webkit-slider-thumb {
    outline: 1px solid $color-blue;
    border-radius: 100%;
    background: $color-blue;
    margin-top: -5px;
  }
}
