$color-blue: #3E9CDC;
$color-dark-blue: #286690;
$color-white: #ffffff;
$color-gray: #C4C4C4;

$color-main-dark: #272733;
$color-main-rtansparent: rgba(16, 16, 29, 0.9);

$color-gray-input: rgba(255, 255, 255, 0.85);

$color-input-drop-down-opened: #3D4050;
