.form__inputs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 74.3rem;
  margin: auto;

  @media (max-width:$screen-xl) {
    width: 49.5rem;
  }

  @media (max-width:$screen-lg) {
    width: 43rem;
  }

  @media (max-width:$screen-md) {
    width: 19rem;
    justify-content: center;
  }
}
