.order__information {
  max-width: 40rem;
  margin-left: 20%;
}

@media (max-width:1280px) {
  .order__information {
    margin-left: 10%;
  }
}

@media (max-width:768px) {
  .order__information {
    width: 25rem;
    margin: 0 auto;
  }
}

@media (max-width:480px) {
  .order__information {
    width: 18rem;

  }
}
