.order__information {
  max-width: 40rem;
  margin-left: 20%;

  @media (max-width:$screen-xl) {
    margin-left: 10%;
  }

  @media (max-width:$screen-md) {
    width: 25rem;
    margin: 0 auto;
  }

  @media (max-width:$screen-sm) {
    width: 100%;
    margin: 0 1rem;
  }
}
