.order__subtitle {
  margin: 2.5rem 0 0 0;
  padding: 0;
  font-size: $font-size--subtitle;
  line-height: 2.25rem;
  font-weight: bold;

  li {
    list-style-type: none;
    font-weight: normal;


    &::before {
      content: "-";
      margin: 0 0.3rem;
    }
  }

  @media (max-width:$screen-lg) {
    font-size: $font-size--subtitle-medium;
    line-height: 1.7rem;
  }

  @media (max-width:$screen-sm) {
    margin-top: 1rem;
    line-height: 1.3rem;
  }

}
